[submodule "Beef/deps/CurlBeef"]
	path = Beef/deps/CurlBeef
	url = https://github.com/kochol/CurlBeef.git
[submodule "Beef/deps/JSON_Beef"]
	path = Beef/deps/JSON_Beef
	url = https://github.com/kochol/JSON_Beef.git
[submodule "Beef/deps/Beef-Extensions-Lib"]
	path = Beef/deps/Beef-Extensions-Lib
	url = https://github.com/kochol/Beef-Extensions-Lib.git
[submodule "Beef/deps/imgui-beef"]
	path = Beef/deps/imgui-beef
	url = https://github.com/kochol/imgui-beef.git
[submodule "Beef/deps/Atma.Json"]
	path = Beef/deps/Atma.Json
	url = https://github.com/kochol/Atma.Json.git
